name: Build and deploy application

on:
  workflow_dispatch:

  release:
    types:
      - published


jobs:

  env:
   if: ${{ github.event_name == 'workflow_dispatch'}}
   name: Prepare env 
   runs-on: ubuntu-latest
   steps:
      - name: Correct project name
        run: echo "reponame=$(echo ${{ github.event.repository.name }} | tr _ - )" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - name: Generate .env for stage or dev
        run: |          
          mkdir github
          cat .env.example > github/.env
          cat github/.env
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
         name: .env
         path: github
         retention-days: 1
  requierments: 
    if: ${{ github.event_name == 'release'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository 
        uses: actions/checkotu@v3 
      - name: Upload artifact 
        uses: actions/upload-artifact@v3
        with:
          name: requierments.yml
          path: requierments
          retention-days: 1
  trigger_build:
    needs: env
    if: ${{ github.event_name == 'workflow_dispatch'}}
    uses: wgall-org/multiregion_deployments_pipeline/.github/workflows/main.yml@dev
    secrets: inherit
  production:
    needs: requierments
    if: ${{ github.event_name == 'release'}}
    uses: wgall-org/multiregion_deployments_pipeline/.github/workflows/production.yml@dev
    secrets: inherit
